/* purgecss start ignore */
@tailwind  base;
@tailwind  components;

.inlineCode {
    @apply p-1.5 bg-gray-100 rounded-md font-mono text-gray-800
}

button:focus {
    @apply outline-none
}

.h-stack {
    @apply flex justify-between items-center
}

.default-padding {
    @apply p-2
}

.full-height {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}
/* purgecss end ignore */

@tailwind  utilities;